<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Welcome to our Application!
      Hey <%= @contact.first_name %><br>
      <%= @contact.last_name %>
    </p>
    <p>
      Your Message is <br>
      <span><%= @contact.message %></span>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>